* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  width: 144rem;
  /* background-color: hsl(226, 43%, 10%); */
}

/* ************************* PROFILE  ************************* */

.profile {
  width: 26rem;
  height: 52rem;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
  color: #fff;
}

.name {
  /* width:26rem ; */
  border-radius: 20px;
  height: 35.5rem;
  background-color: hsl(246, 80%, 60%);
}

.person {
  width: 8.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.calendar {
  height: 16.5rem;
  display: flex;
  flex-direction: column;
}

.time {
  text-decoration: none;
}

/* ************************* COMPONENT  ************************* */

.component {
  width: 25.5rem;
  border-radius: 20px;
  background-color: hsl(15, 100%, 70%);
}

.logo-box {
  overflow: hidden;
  height: 4.5rem;
}

.logo {
  position: relative;
  width: 7.5rem;
  top: -8px;
  left: 160px;
}

.link-contain:link,
.link-contain:visited {
  text-decoration: none;
  background-color: hsl(235, 46%, 20%);
  transition: all 0.3ms;
}

.link-contain:hover,
.link-contain:active {
  background-color: hsl(235, 45%, 61%);
}

.records {
  background-color: hsl(235, 46%, 20%);
  display: flex;
  border-radius: 20px;
  height: 20rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 3.5rem 3rem;
  color: #fff;
  line-height: 0.8;
}
.title {
  font-size: 2rem;
}
.timeout {
  margin: 4rem 0 2.5rem 0;
  font-size: 5.5rem;
  font-weight: 300;
}
.last-week {
  font-size: 1.5rem;
  font-weight: 300;
}

.dots {
  margin: 3.5rem 3rem;
}

/* *********************************************************************** */

/* .holder {
  position: relative;
  width: 45rem;
  height: 30rem;
  background-color: beige;
}

.s {
  width: 20rem;
  height: 15rem;
  border: 2px solid black;
}

.s1 {
  position: absolute;
  bottom: 30px;
  background-color: aqua;
  height: 15rem;
  z-index: 3;
}
.s2 {
  position: absolute;
  z-index: 4;
  background-color: rgb(9, 122, 122);
} */
