* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
}

/* ************************* PROFILE  ************************* */

.main {
  display: grid;
  width: 110rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.profile {
  width: 26rem;
  height: 52rem;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
  color: #fff;
  grid-area: 1/1/3/2;
}

.name {
  width: 26rem;
  border-radius: 20px;
  height: 35.5rem;
  background-color: hsl(246, 80%, 60%);
}

.person {
  width: 8.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 3.5rem 0 4rem 3rem;
}

.report {
  color: #b6b5b5;
  font-size: 1.5rem;
  margin-left: 3.5rem;
}

.jeremy {
  font-size: 4rem;
  font-weight: 300;
  margin: 0.5rem 0 0 3.5rem;
}
.calendar {
  height: 16.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2.5rem 0 0 3.5rem;
}

.time:link,
.time:visited {
  font-size: 1.9rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.time:hover,
.time:active {
  color: hsl(246, 48%, 30%);
}

/* ************************* COMPONENT  ************************* */

.component {
  width: 25.5rem;
  border-radius: 20px;
  /* grid-area: 1/2/2/3; */
}

.component-work {
  background-color: hsl(15, 100%, 70%);
}
.component-play {
  background-color: hsl(195, 74%, 62%);
}
.component-study {
  background-color: hsl(348, 100%, 68%);
}
.component-exercise {
  background-color: hsl(145, 58%, 55%);
}
.component-social {
  background-color: hsl(264, 64%, 52%);
}
.component-care {
  background-color: hsl(43, 84%, 65%);
}

.logo-box {
  overflow: hidden;
  height: 4.5rem;
}

.logo {
  position: relative;
  width: 7.5rem;
  top: -8px;
  left: 160px;
}

.logo-exercise {
  top: -2px;
}
.logo-social {
  top: -12px;
}
.logo-care {
  top: -16px;
}

.link-contain:link,
.link-contain:visited {
  display: block;
  text-decoration: none;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
  transition: all 0.3s;
  height: 20rem;
}

.link-contain:hover,
.link-contain:active {
  background-color: hsl(246, 48%, 30%);
}

.records {
  display: flex;
  justify-content: space-between;
}

.text-box {
  /* background-color: rgb(34, 151, 151); */
  display: flex;
  flex-direction: column;
  margin: 3rem 0 3.5rem 3rem;
  color: #fff;
  line-height: 0.8;
}
.title {
  font-size: 2rem;
}
.timeout {
  margin: 4rem 0 2.5rem 0;
  font-size: 5.5rem;
  font-weight: 300;
}
.last-week {
  color: #b6b5b5;
  font-size: 1.5rem;
  font-weight: 300;
}

.dots-container {
  margin: 3.5rem 3rem;
  /* background-color: #f05c5c; */
  
}

/* ************************* MEDIA QURRY  ************************* */

@media (max-width: 645px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 330px; */
  }
 
}

/* *********************************************************************** */

/* .container {
  margin: 30rem;
  display: flex;
  width: 50rem;
  height: 50rem;
  background-color: beige;
  
}

.s {
  width: 13rem;
  height: 13rem;
  border: 4px solid rgb(179, 26, 26);
  font-size: 2rem;
}

.item-1 {
  position: fixed;
  background-color: aqua;
  top: 30px;
  left: 30px;
  width: 10rem;

}
.item-2 {
  background-color: rgb(81, 81, 230);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
top: 150px;

}
.item-3 {
  background-color: aquamarine;

} */


.container{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-template-rows:100px 100px 100px 100px 100px 100px; 
  background-color: aqua;
  /* width: 700px; */
  border: 7px solid #000000;
  margin: 10rem;
}

.item1{
  background-color: #f05c5c;
  grid-area: 1/1/5/4;
}

.item2{
  background-color: aquamarine;
  grid-area: 1/4/4/7;
}

.item3{
  background-color:rgb(236, 168, 119) ;
  grid-area:5/1/7/6 ;
}

.item4{
  grid-area: 1/7;
  font-size: 3rem;
}

.b{
  text-align: center;
  margin-top: 5rem;
  font-size: 5rem;
  color: #000000;
}